.imageMain {
  background-image:url("./assets/mainimg.jpeg") ;
  background-size: cover;
  height: 100vh

}

.imageSmall{
  width: 109px;
  height: 106px;
}

.textStandard{
font-size: 20px;
line-height: 24.2px;
font-weight: 400;
color: #FFFFFF;
}



